body {
	background:  #FFFFF0;
}

h1 {
	font-size: 60px;
	text-align: center;
	color:  #000000;
}

#capa {
	height: 300px;
	width: 700px;
	padding: 0px;
	margin-left: 300px;
	border: solid #000000;
}
